.app {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
  }
  
  .top {
    flex: 10%; /* 10% of the parent's height */
    background-color: #2c82dd; /* Blue background color */
    color: #fff; /* White text color */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: 'Arial', sans-serif; /* Font family */
    font-size: 2rem; /* Font size */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px; /* Letter spacing */
    font-weight: bold; /* Bold font weight */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
  }
  
  .bottom {
    flex: 90%; /* 90% of the parent's height */
    display: flex;
  }
  
  .left {
    flex: 25%; /* 25% of the parent's width */
    background-color: #f0f0f0;
  }
  
  .right {
    flex: 75%; /* 75% of the parent's width */
    background-color: #e0e0e0;
  }
  